<p>
    This is the account template
</p>
<p>
    Your name is {{ user.username }}.
</p>
<p>
    You have {{ searches.count }} saved searches.
</p>
<p>
    Create a new search.
    <form action="{% url 'account' %}" method="post"> {# not actually home #}
        {% csrf_token %}
        {{ search_form }}
        <input type="submit" value="Submit" />
    </form>
</p>
<p>
    Your searches
</p>
{% for search in searches %}
    <p>
        <a href="{% url 'search' search.id %}">{{ search.title }}</a>
        <br>
        {{ search.url }}
    </p>
{% endfor %}
<p>
    <a href={% url 'home' %}>Home</a>
</p>
