<p>
    This is the home template
</p>
<p>
    {% if user.is_authenticated %}
        there is a user with username {{ user.username }}
    {% else %}
        no user is authenticated
    {% endif %}
</p>
<p>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
</p>
<p>
    <a href="{% url 'login' %}">login</a>
</p>
<p>
    {% if pages %}
        {% for page in pages %}
            <p>
                <a href="TODO">:)</a>
                {{ page.get_title }}
                <br>
                <a href="TODO">:(</a>
                <a href="{{ page.full_url }}">{{ page.full_url }}</a>
            <p>
        {% endfor %}
    {% else %}
        No pages available right now.
    {% endif %}
</p>
{% if not_found %}
    <p>
        {{ not_found }}
    <p>
{% endif %}
